.body {
       font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
     text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
     color: #2E2F42;
}
.header {
}
.nav {
}
.heder-section {
}
.web {
}
.studio {
}
.heder-section-list {
}
.heder-section-item-studio {
}
.heder-section-item-portfolio {
}
.heder-section-item-contacts {
}
.address {
}
.header-addres-list {
}
.header-addres-item {
}
.header-addres-item-mailto {
}
.header-addres-item-tel {
}
.main {
}
.hero-section {
}
.hero-section-text {
}
.hero-section-orderservice-button {
}
.strategy-section {
}
.strategy-section-text {
}
.strategy-section-list {
}
.strategy-section-item {
}
.strstegy-section-title-strategy {
}
.strstegy-section-text-strategy {
}
.strategy-section-link {
}
.strstegy-section-title-punctuality {
}
.strstegy-section-textm-punctuality {
}
.strstegy-section-title-diligence {
}
.strstegy-section-text-diligence {
}
.strstegy-section-title-tehnologies {
}
.strstegy-section-text-tehnologies {
}
.doing-section {
}
.doing-section-h {
}
.doing-section-list {
}
.doing-section-link {
}
.team-section-title {
}
.team-section-list {
}
.team-section-item {
}
.team-section-name {
}
.teme-section-work {
}
.foter {
}
.studio-down {
}
.foter-section-description {
}
.navigation-page-list {
}
.navigation-page-item {
}
.section-porto {
}
.section-porto-list {
}
.section-porto-item {
}
.section-porto-text {
}